body {
    background: linear-gradient(90deg, azure, gray);
}

h2 {
    font-family: monospace;
    font-size: 50px;
    color: red;
}

button {
    font-size: 30px;
    color: purple;
}

.history {
    font-family: monospace;
    font-size: 100px;
    color: blue;
}